<h1> Artist Index Page </h1>

<% @artists.each do |artist| %>
<%= link_to artist.name, artist_path(artist) %><br />
<% end  %><br />

<%= button_to "New", new_artist_path, :id => "open-contacts-dialog-btn",
      :class => "inbox-sf-add-btn tip", :method => :get %>
